@font-face {
  font-family: "iconfont"; /* Project id 3803568 */
  src: url('iconfont.woff2?t=1669965219914') format('woff2'),
       url('iconfont.woff?t=1669965219914') format('woff'),
       url('iconfont.ttf?t=1669965219914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nodejs:before {
  content: "\e80e";
}

.icon-windows:before {
  content: "\e6bc";
}

.icon-diannao:before {
  content: "\e638";
}

.icon-ps:before {
  content: "\e640";
}

.icon-android-o:before {
  content: "\e613";
}

.icon-xbox:before {
  content: "\e69d";
}

.icon-ios:before {
  content: "\ebd5";
}

.icon-HTML-5:before {
  content: "\e879";
}

.icon-guanbi:before {
  content: "\e659";
}

.icon--shangbiankuang:before {
  content: "\e62b";
}

.icon-24gf-ellipsisVertical:before {
  content: "\eb10";
}

