body{
  --background-lan:#1890ff
}
.bd-title{
  height: 100%;
  text-align: center;
  background-color: #272727;
 margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8px;
}

.bd-close{
  width: 16px;
  height: 16px;
  margin-right: 6px;
  font-size: 8px;
  color: #ffffff;
}
.icon{
  width: 16px;
  height: 16px;
  margin-right: 3px;
  font-size: 8px !important;
  color: #ffffff;
}
.flex{
  display: flex;
}
.bd-between{
  justify-content: space-between;
 
}
/* 中间区域 */
.bd-content{
 padding: 10px 10px 20px 10px;
}
.bd-middle{
  min-height: 200px;
  border: 1px solid #000000;
}
/* 选中状态的背景颜色 */
.pitch-status{
  background-color:  var(--background-lan);
}
.bd-input{
  width: 16px;
  height: 16px;
  background-color: #000 ;
}
.bd-input::after{
  height: 18px !important;
  width: 16px !important;
}
.bd-button{
  height: 20px;
 padding: 0;
 font-size: 2px;
 background-color: gray !important;
}
.bd-middle-test{
  padding-left: 2px;
}
.bd-btn{
  padding-top: 5px;
  justify-content: end;
}
.bd-footer{
  padding: 10px 10px;
}
.bd-footer-left-body{
  border: 1px solid #000000;
  padding-bottom: 20px;
  overflow: auto;
}
.bd-footer-left-click{
  background-color:  var(--background-lan);
}
.bd-footer-font{
  font-size: 14px ;
  text-align: center;
  line-height: 26px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 5px;
}
.footer-icon{
  padding-right: 5px;
  font-size: 20px !important;
}
.bd-footer-btn{
  padding-top: 10px !important;
}
.bd-footer-right{
  padding-top: 16px;
  padding-left: 10px;
}
.bd-footer-right-padding{
  padding-left: 20px;
}
.bd-footer-select{
  background-color: gray;
  width: 200px;
}
.bd-footer-right-lastRow{
  padding-top: 30px;
}
.bd-footer-right-btn{
  margin-top: 75px;
  justify-content: end;
}
.bd-footer-right-ipt{
  background-color: #0000;
  color: #0000;
}
.bd-footer-Set{
  min-height: 300px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.bd-SetPadding{
  padding-top: 3px;
}
.bd-footer-text{
  min-width: 170px;
 
}
.opacity{
  opacity: 0.5;
}
input[type=checkbox] {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  font-size: 14px;
}

input[type=checkbox]::after {
  position: absolute;
  top: 0;
background-color: black;
  width: 15px;
  height: 15px;
  display: inline-block;
  visibility: visible;
  padding-left: 0px;
  text-align: center;
  content: '';
}

input[type=checkbox]:checked::after {
  content: "✓";
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: black;
}
.btn-left-margin{
 margin-left: 5px;
}
.bd-box{
  width: 662px;
  height: 750px;
  position: fixed;
  left: 80%;
  top: 10%;
  z-index: 100;
  background: #333333;
  overflow: hidden;
}