body{
  --background-lan:#1890ff
}
.flex{
  display: flex;
}
.pr-search{
  width: 10px;
  height: 10px;
}
.pr-box{
  width: 640px;
  height: 600px;
  position: fixed;
  left: 80%;
  top: 10%;
  z-index: 100;
  background: #333333;
  overflow: hidden;
}
.pr-search-Ipt{
  /* width: 0%; */
  margin-left: 70%;
}
.pr-border-marginTop{
  width: 100%;
   margin-top: 27px;
   border-top: 1px solid #000;
}
.pr-left-box{
 border-right: 1px solid #000;
 height: 100Vh;
}
.pr-bgc-padding{
  padding: 0 15px;
}
.pr-bgc-pitch{
  background-color: var(--background-lan);
}
.pr-title{
  height: 100%;
  text-align: center;
  background-color: #272727;
 margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8px;
}
/* 右边 */
.pr-right-title{
  font-size: 20px;
  padding-left: 10px;
}
.pr-right-ce{
  margin: 10px;
  height: 300px;
  border: 1px solid #000;
}
.pr-right-box{
  flex: 1;
}